{% extends "base/base.html" %}

{% block content %}
  <div class="container">
    <div class="row justify-content-center mt-5">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <h1>Смена пароля</h1>
          </div>
          <div class="card-body">
            <form action="" method="post">
                {{ form.hidden_tag() }}
                <div class="mb-3">
                    {{ form.password.label }}<br>
                    {{ form.password(size=32) }}<br>
                </div>
                {% if form.password.errors %}
                  <div class="alert alert-danger">
                    {% for error in form.password.errors %}
                      <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                  </div>
                {% endif %}
                <div class="mb-3">
                    {{ form.password2.label }}<br>
                    {{ form.password2(size=32) }}<br>
                </div>
                {% if form.password2.errors %}
                  <div class="alert alert-danger">
                    {% for error in form.password2.errors %}
                      <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                  </div>
                {% endif %}
                <div class="text-center">
                    {{ form.submit() }}
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}